services:
  flask-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: abeerseada/flask-app-1:latest
    ports:
      - "5051:5051"
    volumes:
      - ./app:/app
    environment:
      - FLASK_ENV=development
      - FLASK_APP=app.py
    command: python app.py
