
services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - /home/ubuntu/monitoring/config/prometheus.yml:/etc/prometheus/prometheus.yml
      - /home/ubuntu/monitoring/config/alert.rules.yml:/etc/prometheus/rules/alert.rules.yml
      - /home/ubuntu/monitoring/data:/prometheus
    ports:
      - "9090:9090"
    restart: always

  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    ports:
      - "9100:9100"
    restart: always

  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    volumes:
      - /home/ubuntu/monitoring/config/alertmanager.yml:/etc/alertmanager/alertmanager.yml
    ports:
      - "9093:9093"
    restart: always
  

  Grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - grafana-storage:/var/lib/grafana
    ports:
      - "3000:3000"
    restart: always


volumes:
  grafana-storage: