version: "3.9"

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - /home/ubuntu/monitoring/config/prometheus.yml:/etc/prometheus/prometheus.yml
      - /home/ubuntu/monitoring/config/alert.rules.yml:/etc/prometheus/rules/alert.rules.yml
      - /home/ubuntu/monitoring/data:/prometheus
    ports:
      - "9090:9090"
    restart: always

  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    volumes:
      - /home/ubuntu/monitoring/config/alertmanager.yml:/etc/alertmanager/alertmanager.yml
    environment:
      - SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
    ports:
      - "9093:9093"
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - grafana-storage:/var/lib/grafana
    ports:
      - "3000:3000"
    restart: always

volumes:
  grafana-storage:
