---
- name: install docker - apply prometheus and grafana docker compose on monitor EC2
  hosts: monitor
  become: true
  vars:
    docker_apt_key_url: https://download.docker.com/linux/ubuntu/gpg
    docker_repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    docker_packages:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
  tasks:

    - name: Update apt cache
      apt:
        update_cache: true
        cache_valid_time: 3600

    - name: Ensure required packages for apt over HTTPS are installed
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
        state: present

    - name: Add Docker official GPG key
      ansible.builtin.apt_key:
        url: "{{ docker_apt_key_url }}"
        state: present

    - name: Add Docker APT repository
      ansible.builtin.apt_repository:
        repo: "{{ docker_repo }}"
        state: present
        filename: docker

    - name: Update apt after adding docker repo
      apt:
        update_cache: true

    - name: Install Docker packages
      apt:
        name: "{{ docker_packages }}"
        state: present

    - name: Ensure docker service is enabled and started
      systemd:
        name: docker
        enabled: true
        state: started
        daemon_reload: true

    - name: Add ubuntu user to docker group
      user:
        name: ubuntu
        groups: docker
        append: yes

    - name: Install docker-compose 
      apt:
        name: python3-pip
        state: present
      tags: docker_compose

    - name: Create monitoring directory 
      ansible.builtin.file:
        path: /home/monitoring
        state: directory
        owner: ubuntu
        group: ubuntu
        mode: '0755'

    - name: Copy a directory from host to target
      ansible.builtin.copy:
        src: ../monitoring/   # the path of monitoring dir.
        dest: /home/ubuntu/monitoring/
        mode: '0755'

    - name: apply docker_compose file 
      community.docker.docker_compose_v2:
        project_src: /home/ubuntu/monitoring
        state: present

---

- name: install node_exporter on master and slave 
  hosts: jenkins_master:jenkins_slave
  become: true

  tasks:
    - name: update apt
      apt:
        update_cache: yes

    - name: add apt repo 
      apt_repository:
        repo: "deb http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release }} universe"

    - name: re-update apt
      apt:
        update_cache: yes

    - name: install prometheus-node_exporter
      apt:
        name: prometheus-node-exporter
        state: present

    - name: Ensure node exporter is enabled and running
      service:
        name: prometheus-node-exporter
        state: started
        enabled: yes



